<!-- ==== Extends Base HTML ==== -->
{% extends 'base.html' %}
<!-- ==== Static Folder ==== -->
{% load static %}
{% load crispy_forms_tags %}
<!-- ==== Title ==== -->
{% block title %} JF Hub - Clientes {% endblock title %}
<!-- ==== Navbar Content ==== -->
{% block navbar-image %} src="{% static 'img/icons/clientes.png' %}" {% endblock navbar-image %}
{% block navbar-title %} Clientes {% endblock navbar-title %}

<!-- ==== Page Content ==== -->
{% block content %}

<form action="{% url 'qrform' %}" method="POST">
    <div class='p-4'>
        {% csrf_token %}
        {% crispy QRcodeForm %}
        
        <select name="projectlist">
            <option value="">Selecione O Projeto</option>
            {%for proj in projectlist %}
                <option value="{{ proj }}">{{ proj }}</option>
            {%endfor %}
        </select><br><br>

        <select>
            <option value="">Selecione Um Painel</option>
            {% for painel in projeto_painel %}
                <option value="{{ painel }}">{{ painel }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit" class="btn btn-success">Salvar</button>
        <button type="button" class="btn btn-secondary">Cancelar</button>
        <button type="button" class="btn btn-primary" action="{% url 'qrform' %}">Gerar</button>
        
        {%load qr_code %}
        {% if form.is_isvalid %}
        <div class="position-left">{% qr_from_text link size=3 image_format="png" error_correction=L %}</div>
        {% endif %}

    </div>
</form>

{% endblock content %}

<!-- ==== Sidebar Content ==== -->
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}

<!-- ==== Scripts ==== -->
<script src= "{% static 'js/clientes.js' %}" ></script>
